body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
nav {
  text-align: center;
}
nav a {
  padding-right: 10px;
  padding-left: 10px;
  background-color: grey;
}
figcaption {
  font-size: 0.7em;
  text-align: center;
}
#featured-property p {
  width: 800px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#details {
  display: block;
}
#details div {
  float: left;
  background-color: pink;
  text-align: center;
  width: 25%;
}

